.fa-solid{
  cursor: pointer;
  margin-left: 10px;
}

table {
  width: 100%;
  border-collapse: collapse; /* Evita el espacio entre los bordes de las celdas */
}

table th, table td {
  border: 1px solid #ddd; /* Aplica un borde alrededor de cada celda */
  padding: 10px; /* Espacio interior de cada celda */
  text-align: center; /* Centra el texto dentro de las celdas */
}

table th {
  background-color: #f8f9fa; /* Color de fondo para los encabezados */
  font-weight: bold; /* Texto en negrita para los encabezados */
  color: #050505; /* Color del texto */
}

table td {
  background-color: #fff; /* Color de fondo para las celdas de datos */
}
